<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
-Python
-R
-Julia

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Scikit-learn
- Pandas

Objectives:
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- List popular languages for Data Science

| Data Science Tools |
| :- | -: | :-: |
| Apache Spark |
| :- | -: | :-: |
| TensorFlow |
| :- | -: | :-: |
| MLflow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [2]:
200 / 60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

<h2> Author: Gabriel Salazar Gomez <h2>